@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700)
	;

	
	
table, td, tr {

	
}

.tablecontainer table, th, td, tr {
	font-size:10pt;
	border-collapse: collapse;
	border: 1px solid black;
	horizontal-align: middle;
	vertical-align: middle;
	line-height: 100%;
	text-align: center;

}