@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700)
	;

html {
	font-size: 62.5%;
	
	
}

*, :after, :before {
	box-sizing: inherit
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 160%;
	font-weight: 300
}


.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	
}

img {
	display: block;
	max-width: 100%
}

a {
	font-weight: 700;
	color: #006cb4
}

a:focus, a:hover {
	text-decoration: none
}


em {
	font-weight: 700;
	font-size: 140%;
	color: #f3d350;
	font-style: normal
}

.header {
	background-color: #006cb4;
	color: #fff;
	
}

.header .tagline {
	background-color: #006cb4;
	color: #fff;
	display: none
	
	
}

@media screen and (min-width:600px) {
	.header {
	background-color: #006cb4;
	color: #fff;
		
	}
}

@media screen and (min-width:600px) {
	.header .tagline {
		display: block;
		color: #fff;
		max-width: 40em;
		line-height: 140%;
		font-size: 2.5rem
	}
	.header .tagline h1 {
		display: none
	}
	.header .tagline em {
		font-size: 140%;
		color: #f3d350;
		font-style: normal
	}
}

.branding a {
	color: #fff;
	text-decoration: none;
}

.nav .nav-elements .branding {
	color: #fff;
	max-width: 180px;
	margin: 0 auto
	
}

.nav .nav-elements .navbar {
	margin: 0;
	padding: 0;
	line-height: 120%;
	list-style-type: none;
	margin-top: 2rem;
	width: 100%
}

.nav .nav-elements .navbar a {
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 0 1rem;
	-webkit-transition: 1s ease-out;
	transition: 1s ease-out
}

.nav .nav-elements .navbar a:after {
	content: '';
	display: block;
	height: 5px;
	width: 0;
	margin: 0 .5rem;
	-webkit-transition: width .3s ease-out, background-color .3s ease-out;
	transition: width .3s ease-out, background-color .3s ease-out
}

.nav .nav-elements .navbar a:hover {
	color: #f3d350
}

.nav .nav-elements .navbar a:hover:after {
	width: 100%;
	background-color: #4c98ca;
	background: #f3d350

}

@media screen and (min-width:600px) {
	.nav .nav-elements {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media screen and (min-width:600px) {
	.nav .nav-elements .branding {
		color: #fff;
		width: 30%;
		margin: 0
	}
}

@media screen and (min-width:600px) {
	.nav .nav-elements .navbar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}
/* nav */
.footer {
	background-color: #312a10;
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;


}






.footer .legal {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 110%;
	margin-top: 1rem
	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006cb4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #4c98ca;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-weight: 600;
}


.section {
	

}

.grid {
  	display: inline-block;
    margin: auto;
}

.module {
	width: 400px;
    float: left;
}




#formContainer {
    display: inline-block;
	
    margin: auto;
}
#firstForm {
	width: 400px;
    float: left;

}
#secondForm {
    float: left;
	width: 400px;
}
#clearForm {
    clear: both;
}